"*":
  "atom-lint": {}
  "atom-material-ui":
    colors:
      abaseColor: "#ffa726"
      accentColor: "#3f8dff"
      genAccent: true
      predefinedColor: "Orange"
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "gofmt"
      "tester-go"
      "builder-go"
      "autocomplete-go"
      "godoc"
      "gorename"
      "navigator-go"
      "go-get"
      "go-config"
      "gometalinter-linter"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    projectHome: "/Users/jdelsman/go/src/github.com"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    confirmCheckoutHeadRevision: false
    fontFamily: "Input"
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    goInstallation: "/usr/local/go/bin/go"
    goPath: "~/go"
  jsonlint:
    hideOnNoErrors: true
  linter: {}
  "linter-codeclimate":
    init: false
  "linter-rubocop": {}
  "linter-ui-default":
    showPanel: true
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
  "one-dark-ui":
    layoutMode: "Compact"
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".chef.ruby.source":
  editor:
    preferredLineLength: 120
