"*":
  editor:
    fontFamily: "Hack"
    autoIndentOnPaste: false
    invisibles: {}
    softWrap: true
    softWrapAtPreferredLineLength: true
    confirmCheckoutHeadRevision: false
    preferredLineLength: 120
    scrollPastEnd: true
    fontSize: 18
    softWrapHangingIndent: 2
    tabType: "soft"
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    projectHome: "/Users/jdelsman/go/src/github.com"
    themes: [
      "one-light-ui"
      "github-web"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  minimap: {}
  "go-plus":
    goPath: "~/go"
    goInstallation: "/usr/local/go/bin/go"
  linter: {}
  "atom-lint": {}
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  "atom-pair":
    pusher_app_key: "2afc34a3ac0f4a7a0eb6"
    pusher_app_secret: "b9db77f83a5db795c0cf"
  "one-dark-ui":
    layoutMode: "Compact"
  "linter-rubocop": {}
